body {
    margin: 0;
    /* background-image: linear-gradient(#121C40 66%, black); */
    background: -moz-linear-gradient(50% 4.24% -90deg, rgba(19, 28, 64, 1) 0%, rgba(18, 26, 60, 1) 24.89%, rgba(14, 21, 48, 1) 50%, rgba(8, 12, 28, 1) 75.14%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(-90deg, rgba(19, 28, 64, 1) 0%, rgba(18, 26, 60, 1) 24.89%, rgba(14, 21, 48, 1) 50%, rgba(8, 12, 28, 1) 75.14%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(linear, 50% 4.24%, 50% 94.24%, color-stop(0, rgba(19, 28, 64, 1)), color-stop(0.2489, rgba(18, 26, 60, 1)), color-stop(0.5, rgba(14, 21, 48, 1)), color-stop(0.7514, rgba(8, 12, 28, 1)), color-stop(1, rgba(0, 0, 0, 1)));
    background: -o-linear-gradient(-90deg, rgba(19, 28, 64, 1) 0%, rgba(18, 26, 60, 1) 24.89%, rgba(14, 21, 48, 1) 50%, rgba(8, 12, 28, 1) 75.14%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(-90deg, rgba(19, 28, 64, 1) 0%, rgba(18, 26, 60, 1) 24.89%, rgba(14, 21, 48, 1) 50%, rgba(8, 12, 28, 1) 75.14%, rgba(0, 0, 0, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#131C40', endColorstr='#000000' ,GradientType=0)";
    background: linear-gradient(180deg, rgba(19, 28, 64, 1) 0%, rgba(18, 26, 60, 1) 24.89%, rgba(14, 21, 48, 1) 50%, rgba(8, 12, 28, 1) 75.14%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#131C40', endColorstr='#000000', GradientType=0);
}

* {
    box-sizing: border-box;
    font-family: Microsoft JhengHei;
}

.index-box {
    height: 100vh;
    min-width: 1120px;
}

.index-nav {
    width: 350px;
    height: 100vh;
    position: relative;
    min-height: 780px;
    float: left;
}

.nav-top {
    width: 100%;
    /* background-color: aqua; */
}

.logo-box {
    padding: 33px 49px 10px 49px;
}

.index-logo {
    width: 100%;
    /* display: block; */

    /* margin:37px 49px; */
}

.nav-center {
    margin-top: 22px;
}

.nav-center div {
    /* width: 80%; */
    /* background-color: slategray; */
    text-align: center;
    margin: 13.5px auto;
    padding: 18.7px 49px;
}

.nav-center-link {
    border-radius: 2px;
    background-image: linear-gradient(to right, #DF6967, #AE3D6B);
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 5px;
}

a {
    text-decoration: none;
}

.nav-bottom {
    position: absolute;
    bottom: 12.06%;
    width: 100%;
    /* background-color: springgreen; */
}

.icon {
    float: left;
    margin: 4.5px 20px 4.5px 49px;
    line-height: 36px;

}



.icon1 {
    float: left;
    color: white;
}



.icon2 {
    float: left;
    clear: left;
    margin-top: 15px;
    color: white;
}

.copyright {
    float: left;
    margin-bottom: 0;
    line-height: 15px;
    
}

.copyright p {
    color: white;
    font-size: 12px;
}

.index-right {
    width: calc(100% - 350px);
    height: 100%;
    float: left;
    /* background-color: rgba(240, 248, 255, 0.466); */
}

.banner-top {
    position: relative;
    height: 135px;
    /* background-color: rgba(240, 248, 255, 0.274); */
}

.tittle {
    /* font-size: 26px; */
    margin: 0;
    color: white;
    position: absolute;
    bottom: 31.3%;
}

.banner-center {
    width: 100%;
    height: 75vh;
    /* background-color: rgba(255, 255, 255, 0.452); */
    position: relative;
    margin-top: 23px;
    /* padding-bottom: 0px; */
}


.banner-box {
    /* background-color: #DF6967; */
    height: 100%;
    width: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: inline;
    width: initial;
    
}

/* .items-swiper-slide:nth-child(even) { */
/* transform: translate(0,20%); */
.swiper-top{
    position: relative;
    top: 20%;
}


.swiper-scrollbar {
    padding-bottom: 0;
    /* opacity: 1; */
    background-image: linear-gradient(to right, #DF6967, #AE3D6B);
}

.swiper-scrollbar-drag {
    background-color: white;
    opacity: 0.87;
}

.index-content-box {
    float: right;
}

.items-banner-content {
    /* float: right; */
    display: none;
}
.items-close.active {
    display: none;
}

.items-banner-content.active {
    display: block;
    float: right;
    width: 40vw;
    height: 74vh;
    /*---------------height之後要修正 ---------------------*/
    padding: 20px;
    overflow-y:scroll;
    background-color: rgb(255, 255, 255);
}
.img-close.active{
height: 74vh;
}
.items-img.active {
    /* display:block; */
    height: 74vh;
    /* float: right; */
    /* position: relative;
    top: 0; */
}

.swiper-slide.active {
    position: relative;
    top: 0;
    height: 74vh;
    float: right;
}
.items-swiper-slide.active{
    position: relative;
    top: 0;
}

.text-box {
    display: flex;
    align-items: flex-end;

}

.text-box h1 {
    margin: 0;
}

.text-box p {
    margin: auto auto 3px 10px;
}

.line {
    width: 41.5%;
    border-bottom: 5px solid;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.video-container {

    position: relative;

    padding-bottom: 70%;

    padding-top: 30px;
    height: 0;
    overflow:hidden;
    margin-top: 30px;
}

.video-container iframe,

.video-container object,

.video-container embed {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 400px;

}

.swiperspace {
    width: 900px;
}
