* {
    box-sizing: border-box;
    font-family: "微軟正黑體";
    
}
body{
    margin: 0px;
}

.navbar{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
    
}

.nav_flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.web_navlogo{
    padding-top: 30px;
    float: left;
}

.nav_item{
    text-decoration: none;
    align-self: center;
    float: right;
 }

.nav_link{
    padding: 80px 20px 10px 20px;
    margin-left: 12px;
    display: inline-block;
    background-size: 200% auto;
    color: white;
    background-color: #de6967;
    background-image: linear-gradient(to right ,#ae3d6b 0% , #de6967 51% ,#ae3d6b 100%);
    background-position:right center;
    text-transform: uppercase;
    transition: 0.5s;
}

.nav_link:hover { 
    background-position: left center; 
    color: white;
    text-decoration: none;
}


.mobile_navbar{
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.mobile_nav_flex{
    display: flex;
    justify-content: space-between;
}

.mobile_nav_toggle{
    align-self: center;
}

.mobile_navlogo{
    align-self: center;
}

.colcenter{
    text-align: center;
}

.colcenter img{
    padding: 50px 0px 10px 0px;
    width: 100%;
}

.colcenter a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.mobile_nav_item{
    display: none;
    padding-top: 105px;
    padding-bottom: 50px;
    background-image: linear-gradient(#121c40, #000000);
    position: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 98;
   
}

.active{
    display: block;
}


.clearfix{
    clear: both;
}



@media screen and (min-width:721px) {

    .mobile_navbar{
        display: none;
    }
    .mobile_nav_item{
        display: none;
    }
}


@media screen and (max-width:720px) {

    .mobile_navbar{
        padding: 40px 0;
        background-image: linear-gradient(to right, #DE6967 , #AE3D6B);
}

    .navbar {
        display: none;
    }

    .mobile_navlogo {
        position: absolute;
        top: auto;
        left: 50%;
        transform: translateX(-50%);
    }


}