// 網頁大項設定

    body{
        background : -moz-linear-gradient(50% 4.24% -90deg,rgba(19, 28, 64, 1) 0%,rgba(18, 26, 60, 1) 24.89%,rgba(14, 21, 48, 1) 50%,rgba(8, 12, 28, 1) 75.14%,rgba(0, 0, 0, 1) 100%);
	    background : -webkit-linear-gradient(-90deg, rgba(19, 28, 64, 1) 0%, rgba(18, 26, 60, 1) 24.89%, rgba(14, 21, 48, 1) 50%, rgba(8, 12, 28, 1) 75.14%, rgba(0, 0, 0, 1) 100%);
	    background : -webkit-gradient(linear,50% 4.24% ,50% 94.24% ,color-stop(0,rgba(19, 28, 64, 1) ),color-stop(0.2489,rgba(18, 26, 60, 1) ),color-stop(0.5,rgba(14, 21, 48, 1) ),color-stop(0.7514,rgba(8, 12, 28, 1) ),color-stop(1,rgba(0, 0, 0, 1) ));
	    background : -o-linear-gradient(-90deg, rgba(19, 28, 64, 1) 0%, rgba(18, 26, 60, 1) 24.89%, rgba(14, 21, 48, 1) 50%, rgba(8, 12, 28, 1) 75.14%, rgba(0, 0, 0, 1) 100%);
	    background : -ms-linear-gradient(-90deg, rgba(19, 28, 64, 1) 0%, rgba(18, 26, 60, 1) 24.89%, rgba(14, 21, 48,   1) 50%, rgba(8, 12, 28, 1) 75.14%, rgba(0, 0, 0, 1) 100%);
	    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#131C40', endColorstr='#000000' ,GradientType=0)";
	    background : linear-gradient(180deg, rgba(19, 28, 64, 1) 0%, rgba(18, 26, 60, 1) 24.89%, rgba(14, 21, 48, 1) 50%, rgba(8, 12, 28, 1) 75.14%, rgba(0, 0, 0, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#131C40',endColorstr='#000000' , GradientType=0);
    }
    .container{
        color:white;
    }
// 粗黑體.bold
.B{
    font-weight: bold;
}
// 置中.center
.C{
    text-align:center;
}
// 字體大小(大多Footer使用).footer
.F{
    font-size:12px;
}
// 字體大小(大標專用).large
.L{
    font-size:26px;
}
// 字體大小(小標專用).medium
.M{
    font-size:17px;
}
// 字體大小(文本專用).text
.T{
    font-size:15px;
}
.R{
    text-align: right;
}
// 文字取間距用.padding .line-height
.LH{
    line-height: 10px;
}
.PL{
    padding-left:15px;
}
.PD{
    padding-top:15px;
}
.pad{
    width:100%;
    height:155px;
}
.pad2{
    width:100%;
    height:77.5px;
}
.spacing{
    width:100%;
    height:30px;
}
//顏色變數
$G: gray;
.FC{
    color: $G
}

// 網頁細項設定
nav{
    width: 100%;
    height:110px;
    margin-top:30px;
    background-color: aqua;
}
footer{
    width:100%;
    height:180px;
    background-color: $G;
}

//Page2部分

.textbox{
    padding:15px;
}
.poster img{
    width:100%;
}

.P1_title{
    margin-top:15px;
}
.smalltitle{
    width:100%;
    padding-bottom:15px;
    border-bottom: 1px solid;
    border-color: G;
    margin-bottom:15px;
}

//Page3部分

.imgP3{
    width:100%;
    height:590px;
    background-color:aqua; 
}
.circle{
    width: 257px;
    height:257px;
    background-color: $G;
    border-radius: 50%;
    margin:0 15px;
}
.saquare{
    width: 197px;
    height:197px;
    background-color: $G;
    margin:0 10px;
}   
.textb{
    margin-left:10px;
}