// 網頁大項設定

    body{
        background : -moz-linear-gradient(50% 4.24% -90deg,rgba(19, 28, 64, 1) 0%,rgba(18, 26, 60, 1) 24.89%,rgba(14, 21, 48, 1) 50%,rgba(8, 12, 28, 1) 75.14%,rgba(0, 0, 0, 1) 100%);
	    background : -webkit-linear-gradient(-90deg, rgba(19, 28, 64, 1) 0%, rgba(18, 26, 60, 1) 24.89%, rgba(14, 21, 48, 1) 50%, rgba(8, 12, 28, 1) 75.14%, rgba(0, 0, 0, 1) 100%);
	    background : -webkit-gradient(linear,50% 4.24% ,50% 94.24% ,color-stop(0,rgba(19, 28, 64, 1) ),color-stop(0.2489,rgba(18, 26, 60, 1) ),color-stop(0.5,rgba(14, 21, 48, 1) ),color-stop(0.7514,rgba(8, 12, 28, 1) ),color-stop(1,rgba(0, 0, 0, 1) ));
	    background : -o-linear-gradient(-90deg, rgba(19, 28, 64, 1) 0%, rgba(18, 26, 60, 1) 24.89%, rgba(14, 21, 48, 1) 50%, rgba(8, 12, 28, 1) 75.14%, rgba(0, 0, 0, 1) 100%);
	    background : -ms-linear-gradient(-90deg, rgba(19, 28, 64, 1) 0%, rgba(18, 26, 60, 1) 24.89%, rgba(14, 21, 48,   1) 50%, rgba(8, 12, 28, 1) 75.14%, rgba(0, 0, 0, 1) 100%);
	    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#131C40', endColorstr='#000000' ,GradientType=0)";
	    background : linear-gradient(180deg, rgba(19, 28, 64, 1) 0%, rgba(18, 26, 60, 1) 24.89%, rgba(14, 21, 48, 1) 50%, rgba(8, 12, 28, 1) 75.14%, rgba(0, 0, 0, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#131C40',endColorstr='#000000' , GradientType=0);
    }
    .container{
        color:white;
        font-family: Microsoft JhengHei;
    }
    .phone_container{
        color:white;
        font-family: Microsoft JhengHei;
        margin:0px 35px;
    }

    .phone_container2{
        color:white;
        font-family: Microsoft JhengHei;
        margin:0px 45px;
    }

    .all{
        display:block;
    }
    .Phone{
        display:none;
    }
// 粗黑體.bold
.B{
    font-weight: bold;
}
// 置中.center
.C{
    text-align:center;
}
// 字體大小(大多Footer使用).footer
.F{
    font-size:12px;
}
// 字體大小(大標專用).large
.L{
    font-size:26px;
}
//字體大小(手機文本).large
.Phone_L{
    font-size:24px;
}
// 字體大小(小標專用).medium
.M{
    font-size:18px;
}
// 字體大小(文本專用).text
.T{
    font-size:15px;
}
.R{
    text-align: right;
}

// 文字取間距用.padding .line-height
.LH{
    line-height: 20px;
}
.LH2{
    line-height:35px;
}
.LH3{
    line-height:26px;
}

.PL{
    padding-left:30px;
}
.PT{
    padding-top:30px;
}
.PT2{
    padding-top:15px;
}
.PD{
    padding-bottom:15px;
}
.pad{
    width:100%;
    height:140px;
}
.pad2{
    width:100%;
    height:77.5px;
}
.spacing{
    width:100%;
    height:30px;
}
//手機板用間距
.Ppad{
    padding-top:12.31%;
}
.Ppad2{
    padding:25px;
}
.Ppad3{
    padding:7px;
}
.Ppad4{
    padding-top:11.113%;
}

//顏色變數
$G: gray;
.FC{
    color: $G
}
 

//Page2部分

.TB{
    margin:15px 45px 0px 30px;
    width:195px;
}
.TBR{
    width:195px;
    margin-left:30px;
    margin-top:15px;
}

.ST{
    width:100%;
    padding-bottom:15px;
    border-bottom: 1px solid;
    margin-bottom:15px;
}
.MP0{
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    background-image: url('/img/Page2/00-現正熱映/00-一個巨星的誕生.jpg')
}
.MP1{
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    background-image: url('/img/Page2/00-現正熱映/01-猛毒.jpg')
}
.MP2{
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    background-image: url('/img/Page2/00-現正熱映/02-凸槌特派員.jpg')
}
.MP3{
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    background-image: url('/img/Page2/00-現正熱映/03-滴答屋.jpg')
}
.MP4{
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    background-image: url('/img/Page2/00-現正熱映/04-人肉搜索.jpg')
}
.MP5{
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    background-image: url('/img/Page2/00-現正熱映/05-機器戰犬.jpg')
}
.MP6{
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    background-image: url('/img/Page2/00-現正熱映/06-無雙.jpg')
}
.MP7{
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    background-image: url('/img/Page2/00-現正熱映/07-神鬼拍檔.jpg')
}



//Page3部分


.circle{
    width: 257px;
    margin:0 15px;
}
.saquare{
    width: 197px;
    margin:0 10px;
}   
.textb{
    margin-left:10px;
}
.BtoTop {
    position: fixed;
    right: 30;
    right: 30px;
    bottom: 55px;
    width: 60px;
    
}
//手機板

@media screen and (max-width:992px) {
//網站大項設定
.all{
    display:none;
}
.Phone{
    display:block;
}
.BtoTop {
    position: fixed;
    right: 29px;
    bottom: 155px;
    width: 36px;
}

//Page_2
.Pimg{
    width:100%;
    justify-content: center;
}
.CT{
    justify-content:space-between;
    margin-bottom:35px;
}
.TI{
    text-indent: -1.25em;
}
.TI2{
    text-indent:-1.4em;
}
.icon{
    width:258px;
}
.ul{padding-inline-start: 20px;}
}

@media screen and (max-width:520px){
    .phone_container2{
        margin:0px 10px;
    }
}

//預告片部分
.video-container {

    position: relative;
    
    padding-bottom: 56.25%;
    
    padding-top: 30px;
    
    height: 0;
    
    overflow: hidden;
    
    }
    
    .video-container iframe{
    
    position: absolute;
    
    top: 0;left: 0;
    
    width: 100%;
    
    height: 100%;}
    

