@charset "UTF-8";
body {
  background: -ms-linear-gradient(-90deg, #131c40 0%, #121a3c 24.89%, #0e1530 50%, #080c1c 75.14%, black 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#131C40', endColorstr='#000000' ,GradientType=0)";
  background: -webkit-gradient(linear, left top, left bottom, from(#131c40), color-stop(24.89%, #121a3c), color-stop(50%, #0e1530), color-stop(75.14%, #080c1c), to(black));
  background: linear-gradient(180deg, #131c40 0%, #121a3c 24.89%, #0e1530 50%, #080c1c 75.14%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#131C40',endColorstr='#000000' , GradientType=0);
}

.navbar {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
}

.container {
  color: white;
  font-family: Microsoft JhengHei;
}

.phone_container {
  color: white;
  font-family: Microsoft JhengHei;
  margin: 0px 35px;
}

.phone_container2 {
  color: white;
  font-family: Microsoft JhengHei;
  margin: 0px 45px;
}

.all {
  display: block;
}

.Phone {
  display: none;
}

.B {
  font-weight: bold;
}

.C {
  text-align: center;
}

.F {
  font-size: 12px;
}

.L {
  font-size: 26px;
}

.Phone_L {
  font-size: 24px;
}

.M {
  font-size: 18px;
}

.T {
  font-size: 15px;
}

.R {
  text-align: right;
}

.LH {
  line-height: 20px;
}

.LH2 {
  line-height: 35px;
}

.PL {
  padding-left: 30px;
}

.PT {
  padding-top: 30px;
}

.PD {
  padding-bottom: 15px;
}

.pad {
  width: 100%;
  height: 140px;
}

.pad2 {
  width: 100%;
  height: 77.5px;
}

.spacing {
  width: 100%;
  height: 30px;
}

.Ppad {
  padding-top: 12.31%;
}

.Ppad2 {
  padding: 25px;
}

.Ppad3 {
  padding: 7px;
}

.Ppad4 {
  padding-top: 11.113%;
}

.FC {
  color: gray;
}

.TB {
  margin: 15px 45px 0px 30px;
  width: 195px;
}

.TBR {
  width: 195px;
  margin-left: 30px;
  margin-top: 15px;
}

.ST {
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid;
  margin-bottom: 15px;
}

.MP0 {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/Page2/00-現正熱映/00-一個巨星的誕生.jpg");
}

.MP1 {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/Page2/00-現正熱映/01-猛毒.jpg");
}

.MP2 {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/Page2/00-現正熱映/02-凸槌特派員.jpg");
}

.MP3 {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/Page2/00-現正熱映/03-滴答屋.jpg");
}

.MP4 {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/Page2/00-現正熱映/04-人肉搜索.jpg");
}

.MP5 {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/Page2/00-現正熱映/05-機器戰犬.jpg");
}

.MP6 {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/Page2/00-現正熱映/06-無雙.jpg");
}

.MP7 {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/Page2/00-現正熱映/07-神鬼拍檔.jpg");
}

.circle {
  width: 257px;
  margin: 0 15px;
}

.saquare {
  width: 197px;
  margin: 0 10px;
}

.textb {
  margin-left: 10px;
}

@media screen and (max-width: 720px) {
  .all {
    display: none;
  }
  .Phone {
    display: block;
  }
  .Pimg {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .CT {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 35px;
  }
  .TI {
    text-indent: -1.25em;
  }
  .TI2 {
    text-indent: -1.4em;
  }
  .icon {
    width: 258px;
  }
  .ul {
    -webkit-padding-start: 20px;
            padding-inline-start: 20px;
  }
}

@media screen and (max-width: 520px) {
  .phone_container2 {
    margin: 0px 10px;
  }
}
/*# sourceMappingURL=pagesCSS.css.map */