// 網頁大項設定
.C{
    text-align:center;
}
.L{
    font-size:26px;
}
.M{
    font-size:17px;
}
.text{
    font-size:15px;
}
.pad{
    width:100%;
    height:155px;
}
.pad2{
    width:100%;
    height:77.5px;
}
.spacing{
    width:100%;
    height:30px;
}

// 網頁細項設定
nav{
    width: 100%;
    height:110px;
    margin-top:30px;
    background-color: aqua;
}
footer{
    width:100%;
    height:180px;
    background-color: gray;
}
.P1_title_1{
}

.movies{
    background-color: black;
}
.movieBoxA{
    background-color: burlywood;
}
.movieBoxB{
    background-color: red;
}
.poster{
    background-color: green;
}
.textbox{
    background-color: yellow;
}
.P1_title{
    background-color: aqua;
}

.P1_text{
    background-color: blue;
}